
.padding{
    padding: 10px;
    background-color: aqua;
    border: 1px solid;
}
#grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* grid-template-rows: repeat(5, 1fr 3fr 5fr); */
grid-auto-rows: 100px;
gap: 20px;
}
#one{
    grid-column: 1/3;
}
#two{
    grid-column: 3/4;
    grid-row: 1/3;
}
#four{
    grid-column: 2/3;
    grid-row: 2/4;
}